body {
    font-family:Comfortaa;
    background-color:#1F9C6B;
    color:black;
}

h1, h2, h3, h4, h5, h6 {
    font-family:"Comfortaa";
    font-size:35pt;
}

h2 {
    margin: .1em;
}

h2 {
    font-size: 20pt;
}

header {
    text-align:center;
}

/*Hero Section*/

#Hero, footer {
    background-color:#30C6E6;
    text-align:center;
    padding: 20px;
}

#Hero img {
    width: 300px;
}

/* Bio Section*/

#bio {
    text-align: 200px;
    background-color: red;
    color:blue;
}
/*Hobbies Section*/

#Hobbies {
    text-align:center;
}

section#Hobbies {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Gallety Secion*/

#gallery {
    border: 3px solid purple;
    margin-bottom:4rem;
}

#gallery img {
    max-width: 100px;
}

#gallery figure {
    text-align: right;
}

/*Literature */

#lit {
    text-size-adjust: 10px;
    text-align: center;
    border: 2px solid brown;
    margin-bottom:4rem;
    border-bottom-left-radius: 100rem;
    border-top-left-radius: 100rem;
    border-top-right-radius: 100rem;
    border-bottom-right-radius: 100rem;
}

#lit div {
    padding:3rem;
    max-width: 30rem;
    margin: 0 auto;

}

#lit div p {
    padding: 0.9rem;
    clear: both;
}

#lit div p::first-letter {
    color: white;
    float:left;
    font-size: 30px;
    margin-right: .10em;
    padding: .30em;
    line-height: .90em;
}

/*table*/

@media screen and (min-width: 60cm) {
    figure {
        display: grid;
        grid-template-columns: 2gn 1gn;
    }

    figcaption {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 50em;
    }
}

figure img {
    width: 100;
}

#fit div {
    max-width: 100%;
    columns: 25nem;
}

#gallery {
    display: grid;
    grid-template-columns: 1fr
    

}

hr {
    display: none;
}

#gallory h2 {
    grid: 1/-1;
}

figure {
    display: block;
}

/*Contact Form */

#formElements {
    display:grid;
    text-align: center;
    row-gap:2em;
}

#Contact {
    padding: 100e;
    max-width: 800px;
    margin: 1px auto;
    text-size-adjust: 10px;
}

#Contact ul {
    list-style:none;
    padding:10px;
}

#Contact button {
    background-color:lightblue;
    border: 1px solid;
    font-size: 25px;  
}

#Contact legend {
    background: lightblue;
    text-align: center;
    font-size: 20px;
}

#Contact label {
    font-size: 25px;
}

#Video {
    text-align: center;
    border: 1px solid cyan;
    margin-bottom:10rem;
    border-bottom-left-radius: 100rem;
    border-top-left-radius: 100rem;
    border-top-right-radius: 100rem;
    border-bottom-right-radius: 100rem;
    
}